<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>d1c5ea32-a1ee-405b-9bd8-88255ea574cc</string>
	<key>APPLICATION_ID</key>
	<integer>21013</integer>
	<key>APPLICATION_IDENTIFIER</key>
	<string>74039BE9615F49CABFCFC36BA71F89C1</string>
	<key>APPLICATION_INSTANCE_IDENTIFIER</key>
	<string>74039BE9615F49CABFCFC36BA71F89C1</string>
	<key>BeaconUUIDConfigurationUpdateJob</key>
	<date>2015-03-28T06:46:23Z</date>
	<key>COMMUNICATION_RECEIVING_STATE</key>
	<true/>
	<key>ENABLED_TIMESTAMP</key>
	<integer>1427525170241</integer>
	<key>ENABLED_TIMESTAMP_CONFIRMED</key>
	<true/>
	<key>GENERATED_PASSWORD</key>
	<string>2F19E349B1DF484DB094C68D8A239474</string>
	<key>GENERATED_USERNAME</key>
	<string>CDB86DFDFA274B0E9C98B4D298660F32</string>
	<key>GMBLApplicationConfigurationFetchJob</key>
	<date>2015-03-28T06:46:15Z</date>
	<key>ORGANIZATION_ID</key>
	<integer>53735</integer>
	<key>PASSWORD</key>
	<string>2F19E349B1DF484DB094C68D8A239474</string>
	<key>PERMITTED_TIMESTAMP</key>
	<integer>1427525172040</integer>
	<key>PERMITTED_TIMESTAMP_CONFIRMED</key>
	<true/>
	<key>PlaceBubbleRefreshJob</key>
	<date>2015-03-28T06:46:15Z</date>
	<key>PlaceBubbleRefreshJob.retry.state</key>
	<string>QL_JOB_RETRY_STATE_NOT_SCHEDULED</string>
	<key>QLRME</key>
	<true/>
	<key>RECEIVER_UUID</key>
	<string>74039BE9615F49CABFCFC36BA71F89C1</string>
	<key>REGISTRATION_STATUS</key>
	<integer>2</integer>
	<key>REGISTRATION_TIMESTAMP</key>
	<integer>1427525018299</integer>
	<key>USERNAME</key>
	<string>CDB86DFDFA274B0E9C98B4D298660F32</string>
	<key>USER_ID</key>
	<integer>65143774</integer>
	<key>UploadAnalyticsToServerJob</key>
	<date>2015-03-28T06:46:12Z</date>
	<key>collectSightingsLocationDataKey</key>
	<true/>
	<key>configFetchIntervalKey</key>
	<real>28800</real>
	<key>departureIntervalInBackgroundKey</key>
	<real>300</real>
	<key>departureIntervalInForgroundKey</key>
	<real>30</real>
	<key>featureCollectingIDFAKey</key>
	<false/>
	<key>featureCommunicateKey</key>
	<true/>
	<key>featureGeofenceKey</key>
	<true/>
	<key>featureProximityKey</key>
	<true/>
	<key>fyx.location.frequency.level</key>
	<string>LOW_POWER_LOCATION</string>
	<key>sightingsUploadIntervalKey</key>
	<real>300</real>
	<key>smoothingWindowKey</key>
	<integer>3</integer>
</dict>
</plist>
